<div class="row">
	<div class='span0 well text-center'>
		<%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
		  <i class='icon-chevron-up'></i>
		<% end %>
		<br/>
    <span id='post_<%=post.to_param%>_votes'><%= post.total_votes %></span>
		<br/>
		<%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
		  <i class='icon-chevron-down'></i>
		<% end %>
	</div>

	<div class='span8 well'>

		<h4><%= link_to post.title, post %></h4>
		<p>
			<%= link_to post.url, fix_url(post.url) %>
			<%= post.description %>
		</p>
		<% if logged_in? && current_user == post.creator %>
    	[<%= link_to 'edit', edit_post_path(post) %>]
    <% end %>
		<p>
			<span class="quiet">posted by</span> <%= link_to post.creator.username, user_path(current_user) %>
			<small> at <%= display_datetime(post.created_at) %></small>
		</p>
	</div>
</div>